*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.nav{
    height: 100vh;
    width: 100%;
    background-image: url(photos/webbanner2.png);
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
}
/* Blur nav from  js*/
.Blur-nav{
    background-color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: #101010;
    padding: 20px 0;
    color: #fff;
    z-index: 100;
}
.logo{
    letter-spacing: 2px;
}
.colored{
    color: #f85b8d;
}
.buger-controled{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
nav ul li a:hover{
    color: #f85b8d;
}
.bugger{
    display: none;
    font-size: 2rem;
    color: #f85b8d;
}

  .subscribeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1000;
  }
  .button{
    background-color: #f85b8d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 8px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.4s;
  }
.button:hover{
    background-color: #101010;
    border: 2px solid #f85b8d;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.navSubPosition{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 60px;
    right: 5%;
    align-items: center;
    justify-content: center;
}
.subEmail{
    display: none;
    border: 0;
    background: #fff;
    text-align: center;
    justify-content: center;
    padding: 6px;
    outline: none;
    color: black;
    border-radius: 20px;
}
.submitSub{
    display: none;
    padding: 7px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.submitSub:hover{
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.thankYouMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #696969;
    position: absolute;
    margin: 0 10px;
    top: 30px;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 10px;
    border-radius: 15px 0;
    z-index: 1000;
}

.subLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.subLink h2{
    color: #101010;
    transform: rotate(45deg);
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s;
}
.subLink h2:hover{
    color: #f85b8d;
    transform: rotate(135deg);
}
.leaveMsg{
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 8px;
    border-radius: 7px;
    background: #fff;
    position: absolute;
    top: 15%;
    left: 5%;
    cursor: pointer;
    transform-style: preserve-3d;
    animation: animate 2s linear infinite;
    box-shadow: 0px 0px 3px #000, 0px 0px 10px #858585;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(-25deg);
        color: #613636;
    }
    25%{
        transform: perspective(1000px) rotateY(0deg);
        color: #5e1fa7;
    }
    50%{
        transform: perspective(1000px) rotateX(-25deg);
        color: #12227e;
    }
    75%{
        transform: perspective(1000px) rotateX(0deg);
        color: #125f7e;
    }
    100%{
        transform: perspective(1000px) rotateY(-25deg);
        color: #215742;
    }
}
/*nav detail section*/
.details{
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 80%;
    color: #fff;
}
.details h1{
    margin: 20px 0px 20px;
    font-size: 75px;
}
.details h3{
    font-size: 25px;
}
.details h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.submited{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #f85b8d;
    color: #fff;
    transition: 0.2s ease-in;
    margin-top: 20px;
    text-decoration: none;
}
.forNav{
    display: flex;
}
.submit:hover{
    background-color: #fff;
    cursor: pointer;
    color: #101010;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
/*send message style rules are*/
.send-massage{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    display: none;
    gap: 15px;
    position: absolute;
    color: #fcfcfc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: fit-content;
    background: #191919;
    border-radius: 30px;
    border: 2px solid #f85b8d;
    padding: 10px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.send-massage input{
    border: 2px solid #f85b8d;
    background: none;
    display: block;
    text-align: left;
    padding: 10px 35px;
    outline: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
}
.send-massage input:focus{
    width: 290px;
    background: #fcfc;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0px 0px 3px #000, 0px 0px 10px #858585;
}
.send-massage textarea{
    width: 80%;
    border-radius: 8px;
    border: 2px solid #f85b8d;
    background-color: #e4dfdf;
    padding: 10px;
    transition: 0.5s;
}
.send-massage textarea:focus{
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.send-msg-control{
    display: flex;
    gap: 10px;
}
.send-msg-control button:nth-child(2){
    color: #e1306c;
}
.send-msg-btn{
    border: 2px solid #f85b8d;
    background: #fcfcfc;
    display: block;
    text-align: left;
    padding: 5px 15px;
    outline: none;
    color: #000;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 10px;
}
.send-msg-btn:hover{
    border: 2px solid #fcfcfc;
    padding: 5px 15px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
/*style rules for sign up form are here*/
.sign-up{ 
    left: 50%;
    top: -20px;
    transform: translate(-50%, -50%) scale(0.0);
    transition: 0.4s;
    visibility: hidden;
    display: flex;
    gap: 10px;
    position: absolute;
    color: #fcfcfc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: fit-content;
    background: #191919;
    border-radius: 30px;
    border: 2px solid #f85b8d;
    padding: 10px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
/*style rules for sign up form from js started here*/
.submitActive{
display: none;
}

.show{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*sign in style rule is here*/
.sign-in{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none ;
    position: absolute;
    color: #fcfcfc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    width: 350px;
    height: fit-content;
    background: #191919;
    border-radius: 30px;
    border: 2px solid #f85b8d;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    transition: 0.4s;
}
.sign-in input[type = "email"], .sign-in input[type = "password"]{
    border: 2px solid #f85b8d;
    background: none;
    display: block;
    text-align: left;
    padding: 10px 35px;
    outline: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
}
.sign-in input[type = "email"]:focus, .sign-in input[type = "password"]:focus{
    width: 290px;
    background: #fcfc;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.sign-in input[type = "submit"]{
    border: 2px solid #f85b8d;
    background: #fcfcfc;
    display: block;
    text-align: left;
    padding: 8px 25px;
    outline: none;
    color: #000;
    border-radius: 28px;
    transition: 0.4s;
    cursor: pointer;
}
.sign-in input[type = "submit"]:hover{
    border: 2px solid #fcfcfc;
    padding: 8px 26px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
/* sign in style rule ended here*/
/*style rules for sign up form from js ended here*/
.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}
.header h1{
    font-size: 20px;
}
.canceled{
    font-size: 30px;
    transform: rotate(-45deg);
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}
.canceled:hover{
    color: #f85b8d;
    transform: rotate(45deg);
}
.sign-up span{
    color: #f85b8d;
    font-size: 12px;
}
.sign-up input[type = "name"], .sign-up input[type = "email"], .sign-up input[type = "new-password"]{
    border: 2px solid #f85b8d;
    background: none;
    display: block;
    text-align: left;
    padding: 10px 35px;
    outline: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
}
.sign-up input[type = "name"]:focus, .sign-up input[type = "email"]:focus, .sign-up input[type = "new-password"]:focus{
    width: 290px;
    background: #fcfc;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.sign-up input[type = "submit"]{
    border: 2px solid #f85b8d;
    background: #fcfcfc;
    display: block;
    text-align: left;
    padding: 8px 25px;
    outline: none;
    color: #000;
    border-radius: 28px;
    transition: 0.4s;
    cursor: pointer;
}
.sign-up input[type = "submit"]:hover{
    border: 2px solid #fcfcfc;
    padding: 8px 26px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.forgoten-psw{
    text-decoration: none;
    color: rgb(143, 143, 221);
}
.click-here a{
    text-decoration: none;
    color: rgb(143, 143, 221);
    cursor: pointer;
}
/*ABout section*/
.about{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about img{ 
    height: 70vh;
    width: 400px;
    border: 10px solid #fcfc;
    border-radius: 20px 0;
}
.About-text{
    width: 550px;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    margin: 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 80vh;
}
.About-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.About-text h5{
     color: #fff;
     letter-spacing: 2px;
     font-size: 25px;
     margin-bottom: 15px;
     text-transform: capitalize;
}
.About-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}
.talk{
    text-decoration: none;
}
/*service section style rules are here*/
.title{
    background-color: #000;
    color: #f85b8d;
    font-size: 40px;
    width: 100%;
    padding:0;
    text-align: center;
}
.service{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.box{
    --_spacer: 5%;
    background-color: #101010;
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 20px var(--_spacer);
    gap: 30px;
    grid-auto-flow: column;
    overflow-x: auto;
    height: 80vh;
}
.box > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px;
    width: 400px;
    height: fit-content;
    background: #191919;
    border-radius: 30px 5px;
    box-shadow: 0px 0px 3px #000, 0px 0px 5px #858585;
}
.card h5{
    color: #fff;
    font-size: 23px;
}
.card img{
    inline-size: 80%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    object-fit: cover;
}
.card p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    width: 80%;
}
.more{
    display: none;
}
::-webkit-scrollbar{
    display: none;
}
/*contact me style rules are here*/
.contact-me{
    width: 100%;
    height: 290px;
    display: flex;
    background: #191919;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me p span{
    color: #fcfc;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
    background-color: #101010;
    color: #fcfcfc;
}
.social-handle{
    display: flex;
    gap: 8px;
    padding: 0 10px;
}
.social-handle a{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f85b8d;
    border-radius: 100%;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: .4s;
}
.social-handle a:hover{
    font-size: 20px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.lin-fb:hover{
    color: rgb(55, 55, 245);
    background: #fff;
}
.instagram:hover{
    color: #fff;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

}
.youtube:hover{
    color: #fff;
    background: rgb(243, 47, 47);
}
.whatsapp:hover{
    color: green;
    background: #fcfc;
    font-weight: bold;
}
.end{
    color: #f85b8d;
    font-size: 14px;
    bottom: 35px;
}



@media (max-width:800px){
.nav{
    background-image: url(photos/webbanner3correction.png);
}
/*ABout section*/
.about img{ 
    height: 70vh;
    width: 300px;
}
.About-text{
    width: 450px;
}
.title{
    font-size: 30px;
}
.main{
    width: 900px;
    max-width: 95%;
    gap: 10px;
}
.About-text h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.About-text h5{
     letter-spacing: 1px;
     font-size: 15px;
     margin-bottom: 10px;
}
.About-text p{
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}
/*service section*/
.box > *{
    width: 350px;
    height: fit-content;
}

}

@media (max-width:600px){
    .bugger{
        display: block;
    }
    .buggerActive{
        color: #fff;
        display: block;
    }
    .buger-controled{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:60px ;
        right: 0;
        width: 100%;
        background-color: #101010;
        gap: 15px;
        padding-bottom: 15px;
        height: fit-content;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: #fff;
        opacity: 0.99;
        font-size: medium;
        transition: 0.4s ease-out;
        clip-path: circle(0% at 95.3% 8.5%);
        z-index: 100;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .navSubPosition{
        display: flex;
        flex-direction: column;
        gap: 7px;
        position: relative;
        top: 0;

    }
    .bgControlActive{
        clip-path: circle(140% at 95% -8%);
    }
    .details h1{
        margin: 10px 0px 10px;
        font-size: 50px;
    }
    .details h3{
        font-size: 20px;
    }
    .details h4{
        letter-spacing: 1.5px;
        font-size: 15px;
    }
    /*style rules for sign up form are here*/
/*style rules for sign up form from js started here*/
.sign-up{ 
    gap: 15px;
    width: 250px;
    border-radius: 20px;
}
.show{
    top: 50%;
}
/*style rules for sign up form from js ended here*/
.header h1{
    font-size: large;
}
.sign-up input[type = "name"], .sign-up input[type = "email"], .sign-up input[type = "new-password"]{
    border: 1px solid #f85b8d;
    padding: 10px 20px;
    border-radius: 20px;
}
.sign-up input[type = "name"]:focus, .sign-up input[type = "email"]:focus, .sign-up input[type = "new-password"]:focus{
    width: 230px;
    border: 1px solid #000;
}
.sign-up input[type = "submit"]{
    border: 1.5px solid #f85b8d;
    text-align: center;
    padding: 8px 20px;
    border-radius: 15px;
}
.sign-up input[type = "submit"]:hover{
    padding: 8px 22px;
}
    /*about section*/
    .about{
        width: 100%;
        height: fit-content;
    }
    .main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 10px 0;
        gap: 10px;
        padding-top: 10px;
    }
    .about img{ 
        height: 350px;
        width: 300px;
    }
    .About-text{
        width: 80%;
        height: fit-content;
    }
    .title{
        font-size: 20px;
        height: 50px;
    }
    /*service section*/
    .box > *{
        gap: 0.5rem;
        padding: 7px;
        width: 280px;
        height: fit-content;
        border-radius: 15px 1.5px;
    }
    .card h5{
        font-size: 18px;
    }
    .card img{
        border-radius: 10px;
    }
    .card p{
        font-size: 13px;
        line-height: 20px;
    }

}

@media (max-width:300px){
    .nav{
        background-image: url(photos/webphoneview.png);
    }
    .logo{
        letter-spacing: 1px;
        font-size: medium;
        font-weight: bold;
    }
    .about img{ 
        height: 300px;
        width: 100%;
    }
    .title{
        font-size: 15px;
    }
        /*service section*/
    .box > *{
        width: 230px;
        height: fit-content;
    }
    .card h5{
        font-size: 15px;
        font-weight: bold;
    }
    .card p{
        font-size: 11px;
        line-height: 18px;
        font-weight: bold
    }
    .thankYouMessage{
        top: 0;
    }
    .details h1{
        margin: 0;
        font-size: 35px;
    }
/*style rules for sign up form are here*/
/*style rules for sign up form from js started here*/
.sign-up{ 
    gap: 10px;
    width: 190px;
    border-radius: 15px;
}
.header{
    font-weight: lighter;
    margin-top: 5px;
}
.cancel{
    font-size: 26px;
}
/*style rules for sign up form from js ended here*/
.sign-up input[type = "name"], .sign-up input[type = "email"], .sign-up input[type = "new-password"]{
    padding: 7px 10px;
    border-radius: 15px;
}
.sign-up input[type = "name"]:focus, .sign-up input[type = "email"]:focus, .sign-up input[type = "new-password"]:focus{
    width: 180px;
    border: 0.5px solid #000;
}
    .box{
        grid-auto-flow: row;
       padding-top: 20px;
    }
    .social-handle{
        gap: 5px;
        padding: 0 10px;
    }
    .social-handle a{
        width: 25px;
        height: 25px;
    }
    .social-handle a:hover{
        font-size: 15px;
    }
    .end{
        font-size: 12px;
    }


}