*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.nav{
height: 100vh;
width: 100%;
background-image: url(photos/webbanner2.png);
background-size: cover;
background-position: center;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    background: #101010;
}
.logo{
    color:#fff;
    font-size: 35px;
    letter-spacing: 3px;
    cursor: pointer;
}
span{
    color: #f85b8d;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 25px;
}
nav ul li  a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li  a:hover{
    color: #f85b8d;
    transition: .4s;
}
.bugger{
  font-size: 35px;
  display: none;
  color: #f85b8d;
}
.subscribeForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
}
#email{
    border: 0;
    background: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px;
    outline: none;
    color: black;
    border-radius: 25px;
}
#submit{
    width: 80px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
}
.positiion{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 5%;
}
#submit:hover{
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
#submit i{
    color: black;
    font-size: 10px;
}
.btn{
    background-color: #f85b8d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #f85b8d;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.thankYouMessage{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #858585;
    position: absolute;
    top: 50px;
    padding: 10px;
    border-radius: 10px;
}
.subLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.subLink h2{
    color: #101010;
    transform: rotate(45deg);
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.subLink h2:hover{
    color: #f85b8d;
}
.subscribeBtn{
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #f85b8d;
    cursor: pointer;
    transition: 0.2s;
}
.subscribeBtn:hover{
    background-color: #fff;
    color: #000;
    border: 2px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.content h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}
.content h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.submit{
   visibility: visible;
}
.submited{
    display: flex;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f85b8d;
    color: #fff;
    transition: 0.4s ease-in;
    margin-top: 20%;
}
.talk{
    text-decoration: none;
    color: #fff;
}
.submit:hover{
    background-color: #fff;
    cursor: pointer;
    color: #101010;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
/*style rule for sign up form from Js*/
.submitActive{
    visibility: hidden;
}
.sign-up{ 
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) scale(0.5);
    visibility: hidden;
    transition: 0.4s;
    display: flex;
    position: absolute;
    color: #fcfcfc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: fit-content;
    background: #191919;
    border-radius: 30px;
    border: 2px solid #f85b8d;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.show{
    visibility: visible;
    top: 60%;
    transform: translate(-50%, -50%);
}

/*style rule for sign up form from Js ended here*/
.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}
.cancel{
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}
.cancel:hover{
    color: #f85b8d;
}
.header h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500px;
    margin-top: 20px;
}
.sign-up input[type = "name"], .sign-up input[type = "email"], .sign-up input[type = "new-password"]{
    border: 2px solid #f85b8d;
    background: none;
    display: block;
    margin: 10px;
    text-align: left;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 28px;
    transition: 0.4s;
}
.sign-up input[type = "name"]:focus, .sign-up input[type = "email"]:focus, .sign-up input[type = "new-password"]:focus{
    width: 290px;
    background: #fcfc;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.sign-up input[type = "submit"]{
    border: 2px solid #f85b8d;
    background: #fcfcfc;
    display: block;
    margin: 15px;
    text-align: left;
    padding: 8px 25px;
    outline: none;
    color: #000;
    border-radius: 28px;
    transition: 0.4s;
    cursor: pointer;
}
.sign-up input[type = "submit"]:hover{
    border: 2px solid #fcfcfc;
    padding: 8px 26px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.sign-up a{
    text-decoration: none;
    color: #fcfcfc;
}
.sign-up p{
    margin-bottom: 15px;
}
.sign-up p a{
    color: #fcfc;
    font-weight: bold;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{ 
    height: 100vh;
    width: 500px;
    border: 10px solid #fcfc;
    border-radius: 20px;
}
.About-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.About-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.About-text h5{
     color: #fff;
     letter-spacing: 2px;
     font-size: 22px;
     margin-bottom: 25px;
     text-transform: capitalize;
}
.About-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
}
/*service style rules are here*/
.title h2{
    color: #fff;
    font-size: 75px;
    width: 30px auto;
    padding: 25px 0;
    text-align: center;
    background: #101010;
}
.box{
    --_spacer: 5%;
    background: #101010;
    display: grid;
    padding: var(--_spacer) var(--_spacer);
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 350px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.box > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 300px;
    padding: 10px;
    background: #191919;
    border-radius: 30px 10px;
    box-shadow: 0px 0px 3px #000, 0px 0px 5px #858585;
}

.scroll-snaps{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
/*.scroll-snaps > *{
    scroll-snap-align: start;
}*/
::-webkit-scrollbar{
    display: none;
}
.card i{
    font-size: 50px;
    text-align: center;
    color: #f85b8d;
}
.card h5{
    color: #fff;
    font-size: 23px;

}
.card p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
}
.card .button{
    justify-content: center;
    align-items: center;
    background-color: #f85b8d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f85b8d;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.CardImg{
    display: none;
}
/*style rules for service pop up are here*/

.contact-me{
    width: 100%;
    height: 290px;
    display: flex;
    background: #191919;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #f85b8d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f85b8d;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #fff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f85b8d;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.2);
    transition: .4s;
    background: transparent;
    border: 2px solid #f85b8d;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.end{
    position: absolute;
    color: #f85b8d;
    font-size: 14px;
    bottom: 35px;
}

@media (max-width:985px){
    .buggerActive{
        display: inline-block;
    }
    .bugger{
        display: flex;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:60px ;
        right: 0;
        background-color: #101010;
        width: 100%;
        height: fit-content;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        gap: 10px;
        color: #fff;
        opacity: 0.99;
        font-size: 25px;
        transition: 0.4s ease-out;
        clip-path: circle(0% at 95.3% 8.5%);
        z-index: -1;
    }
    .ulActive{
        clip-path: circle(140% at 95% -8%);
    }
}

@media (max-width: 768px){
    .nav{
        background-image: url(photos/webbanner2.png);
        height: 100vh;
        width: 100%;
        }
        nav{
            padding-top: 20px;
        }
        .buggerActive{
            display: inline-block;
        }
        .bugger{
            display: flex;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:60px ;
            right: 0;
            background-color: #101010;
            width: 100%;
            height: fit-content;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            gap: 10px;
            color: #fff;
            opacity: 0.99;
            font-size: 25px;
            transition: 0.4s ease-out;
            clip-path: circle(0% at 95.3% 8.5%);
            z-index: -1;
        }
        .ulActive{
            clip-path: circle(140% at 95% -8%);
        }
   
        .content input{
            margin-top: 0;
            margin-bottom: 30px;
        }
        .content h4{
            letter-spacing: 0;
        }
        .sign-up{
            width: 270px;
        }
        .show{
            visibility: visible;
            top: 47%;
            transform: translate(-50%, -50%);
        }
        .header h1{
            font-size: 20px;
            margin-top: 10px;
        }
        .header h2{
            font-size: 30px;
        }
        .sign-up input[type = "name"], .sign-up input[type = "email"], .sign-up input[type = "new-password"]{
            margin: 9px;
            padding: 10px 28px;
            border-radius: 25px;
        }
        .sign-up input[type = "name"]:focus, .sign-up input[type = "email"]:focus, .sign-up input[type = "new-password"]:focus{
            width: 250px;
            border: 1px solid #000;
            box-shadow: 0px 0px 3px #000, 0px 0px 10px #858585;
        }
        .sign-up input[type = "submit"]{
            border: 1px solid #f85b8d;
            margin: 10px;
            padding: 7px 22px;
            border-radius: 20px;
        }
        .sign-up input[type = "submit"]:hover{
            border: 1px solid #fcfcfc;
            padding: 7px 23px;
            box-shadow: 0px 0px 3px #000, 0px 0px 10px #858585;
        }
        .sign-up p{
            margin-bottom: 10px;
        }
        .box{
            min-height: 70Vh;
        }
}


@media (max-width: 620px){
    .nav{
        background-image: url(photos/webphoneview.png);
        height: 100vh;
        width: 100%;
        }
        .logo{
            font-size: 20px;
            letter-spacing: 0.5px;
        }
        .btn{
            border: 1px solid transparent;
            font-size: small;
            padding: 5px 10px;
            border-radius: 15px;
            width: fit-content;
            cursor: pointer;
            transition: .4s;
        }
        .thankYouMessage{
            gap: 3px;
            top: 50px;
            padding: 5px;
            margin: 0 10px;
            border-radius: 10px;
        }
        #email{
            border: 0;
            background: #fff;
            text-align: center;
            padding: 5px;
            outline: none;
            color: black;
            border-radius: 15px;
        }
        .content{
            top: 40%;
            width: 100%;
        }
        .About-text h2{
            color: #fff;
            font-size: 75px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        .About-text h5{
             color: #fff;
             letter-spacing: 2px;
             font-size: 22px;
             margin-bottom: 25px;
             text-transform: capitalize;
        }
        nav{ 
            padding-top: 20px;
            padding-left: 5%;
        }
        .content h1{
            margin-bottom: 30px;
            letter-spacing: 5px;
            font-size: 35px;
        }
        .content h3{
            font-size: 20px;
            letter-spacing: 5px;
            margin-bottom: 30px;
        }
        .newsletter form{
            width: 300px;
        }
        .newsletter form input:first-child{
            width: 100%;
            padding: 10px 100px 10px 10px;
            border: 1px solid #f85b8d;
        }
        .newsletter form input:last-child{
            padding: 6px 15px;
            border-radius: 30px;
            top: 5px;
            right: 5px;
        }
        .newsletter form input:last-child:hover{
            background-color: transparent;
            border: none;
            color: #f85b8d;
        }
        .about{
            padding: 20px 5px;
        }
        .main{
            flex-direction: column;
            gap: 10px;
        }
        .about img{ 
            height: 50vh;
            width: 100%;
        }
        .About-text{
            width: 100%;
        }
        .About-text h2{
            font-size: 40px;
            margin-bottom: 10px;
        }
        .About-text h5{
             letter-spacing: 1px;
             font-size: 15px;
             margin-bottom: 15px;
        }
        .About-text p{
            letter-spacing: 1px;
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 15px;
        }
        button{
            border: 1px solid transparent;
            font-weight: bold;
            padding: 8px 15px;
        }
        button:hover{
            border: 1px solid #f85b8d;
        }
        .title h2{
            font-size: 25px;
        }
        .card{
            height: fit-content;
            width: 250px;
        }
        .card i{
            font-size: 25px;
            margin: 8px 0px;
        }
        .pra p{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        .card .button{
            border: 1px solid transparent;
            padding: 5px 10px;
        }
        .card .button:hover{
            border: 1px solid #f85b8d;
        }
        .contact-me{
            height: fit-content;
            padding: 15px 10px;
        }
        .contact-me p{
            font-size: 18px;
            margin-bottom: 15px;
        }
        .contact-me .button-two{
            border: 1px solid transparent;
            padding: 5px 10px;
        }
        .contact-me .button-two:hover{
            border: 1px solid #f85b8d;
        }
        footer{
            height: fit-content;
            padding: 50px 0;
        }
        footer p:nth-child(1){
            font-size: 18px;
            margin-bottom: 10px;
        }
        footer p:nth-child(2){
            font-size: 12px;
            width: 100%;
            line-height: 20px;
            padding: 0 20px;
        }
        .social a{
            width: 30px;
            height: 30px;
            margin: 15px 5px;
            font-size: 15px;
        }
        .social a:hover{
            transform: scale(1.1);
            border: 1px solid #f85b8d;
        }
        .end{
            font-size: 12px;
            bottom: 30px;
        }
}
@media (max-width:300px){
    .logo{
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .btn{
        border: 1px solid transparent;
        font-size: small;
        padding: 2px 5px;
        border-radius: 15px;
        width: fit-content;
        cursor: pointer;
        transition: .4s;
    }
    .bugger{
        font-size: 20px;
      }
}